img {
    width: 2%;
    margin: 0 10px;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #2C2F39;
    color: white;
    padding: 20px;
}

.navigation ul {
    display: flex;
    flex-direction: row;
    flex-basis: 300px;
    justify-content: space-between;
    list-style: none;
}

.active-link {
    color: #38E991;
    text-decoration: none;
}

.default-link {
    color: white;
    text-decoration: none;
}
/*.navigation ul {*/
/*    display: flex;*/
/*    !* row is de default, maar toch toegevoegd voor leesbaarheid *!*/
/*    flex-direction: row;*/
/*    !*Wanneer we geen basis-breedte meegeven, hebben de items ook geen ruimte om zich evenredig te verdelen!*!*/
/*    flex-basis: 400px;*/
/*    !* alle items groeien NIET mee in verhouding tot de overgebleven ruimte *!*/
/*    flex-grow: 0;*/
/*    !* alle items worden evenredig kleiner dan de basis wanneer er geen ruimte is *!*/
/*    flex-shrink: 1;*/
/*    !* uitlijning van links naar rechts, want direction = row (horizontaal) *!*/
/*    justify-content: space-between;*/
/*    !*Zo haal je de bullets van de lijst af*!*/
/*    list-style: none;*/
/*}*/