.page-container {
    width: 100%;
    height: 100vh;
    color: white;
    background: rgb(44,47,57);
    /*Wil jij ook zo'n coole gradient maken? Deze is gemaakt via https://cssgradient.io/ - kind kan de was doen!*/
    background: linear-gradient(37deg, rgba(44,47,57,1) 0%, rgba(0,0,0,1) 8%, rgba(80,83,92,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-container img {
    width: 500px;
}